body{
    background-color: aquamarine;
      font-family: Arial, Helvetica, sans-serif;
}
.principal{
    width: 800px;
    margin: 0 auto;
    background-color: aqua;
    text-align: center;
}
 .tbn-enviar{
    color: rgb(223, 245, 220);
    background-color: brown;
 }
 .tbn-enviar:hover{
    color: blue;
    background-color: black;
 }
@media(max-width: 900px) {
    .principal{
        width: 400pix;
        background-color: blueviolet;
    }
}
